* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#game-board {
    background: #dddddd;
    width: 1200px;
    height: 600px;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 20px -6px #615961;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#start-area {
    background: #cbc6d7;
    width: 80px;
    height: 560px;
    margin: 5px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 20px -6px #615961;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game-area {
    background-image: url("images/background.jpg");
    background-size: cover;
    width: 940px;
    height: 560px;
    margin: 5px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 20px -6px #615961;
    position: relative;
}

#finish-area {
    background: #ebc9c9;
    width: 80px;
    height: 560px;
    margin: 5px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 20px -6px #615961;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dino {
    background-image: url("images/dinossiluhettes/dinoright.png");
    background-size: cover;
    width: 75px;
    height: 75px;
    position: relative;
    transform: scaleX(1);
}

.dino-left {
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 460px;
    transform: scaleX(-1);
}

.finish {
    background-image: url("images/cueva.png");
    background-size: cover;
    width: 120px;
    height: 250px;
    position: absolute;
    top: 310px;
    left: 820px;
}

.enemy {
    background-image: url("images/meteorito.png");
    background-size: cover;
    width: 30px;
    height: 70px;
    position: absolute;
    top: 0;
}