* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#game-board {
    background: #dddddd;
    width: 1200px;
    height: 600px;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 20px -6px #615961;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#start-area {
    background: #cbc6d7;
    width: 80px;
    height: 560px;
    margin: 5px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 20px -6px #615961;
}

#game-area {
    background: #c6d7d4;
    width: 940px;
    height: 560px;
    margin: 5px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 20px -6px #615961;
    position: relative;
}

#finish-area {
    background: #ebc9c9;
    width: 80px;
    height: 560px;
    margin: 5px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 20px -6px #615961;
}

.dino {
    background-image: url("images/dino1.jpg");
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 510px;
}

.dino-left {
    background-image: url("images/dino2left3.jpg");
    background-size: cover;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 510px;
}

.finish {
    background: #073401;
    width: 20px;
    height: 50px;
    position: absolute;
    top: 510px;
    left: 920px;
}

.enemy {
    background: #b0b0eb;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
}