@import url('https://fonts.cdnfonts.com/css/jurassic-park');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#game-board {
    background: #dddddd;
    width: 1200px;
    height: 600px;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 20px -6px #615961;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#start-area {
    background: #cbc6d7;
    width: 80px;
    height: 560px;
    margin: 5px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 20px -6px #615961;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

#game-area {
    background-image: url("images/background.jpg");
    background-size: cover;
    width: 940px;
    height: 560px;
    margin: 5px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 20px -6px #615961;
    position: relative;
}

#finish-area {
    background: #ebc9c9;
    width: 80px;
    height: 560px;
    margin: 5px;
    border-radius: 30px;
    box-shadow: inset 0px 0px 20px -6px #615961;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.dino {
    background-image: url("images/dinossiluhettes/dinoright.png");
    background-size: cover;
    width: 75px;
    height: 75px;
    position: relative;
    transform: scaleX(1);
    margin: 10px 0;
}

.dino-left {
    background-size: cover;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 460px;
    transform: scaleX(-1);
    margin: 10px 0;
}

.finish {
    background-image: url("images/cueva.png");
    background-size: cover;
    width: 120px;
    height: 250px;
    position: absolute;
    top: 310px;
    left: 820px;
}

.enemy {
    background-image: url("images/meteorito.png");
    background-size: cover;
    width: 30px;
    height: 70px;
    position: absolute;
    top: 0;
}

.title{
    top: 150px;
    left: 330px;
    position: absolute;
    font-family: 'Jurassic Park';
    font-size: 80px;
    letter-spacing: 8px;
    color: whitesmoke;
}

.button{
    top: 240px;
    left: 440px;
    position: absolute;
    background: #c9e4eb;
    border-radius: 30px;
    height: 60px;
    width: 90px;
    box-shadow: inset 0px 0px 20px -6px #615961;
    border: none;
    font-family: 'Jurassic Park';
    font-size: 40px;
    text-align: center;
}

.game-over{
    top: 150px;
    left: 330px;
    position: absolute;
    font-family: 'Jurassic Park';
    font-size: 80px;
    letter-spacing: 8px;
    color: whitesmoke;
}

.game-over2{
    top: 250px;
    left: 200px;
    position: absolute;
    font-family: 'Jurassic Park';
    font-size: 50px;
    letter-spacing: 5px;
    color: whitesmoke;
}